/* -------------------------------- FONTS -------------------------------- */
/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/inter-v12-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+ */
       url('./fonts/inter-v12-latin-regular.woff') format('woff'); /* Chrome 5+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* inter-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/inter-v12-latin-700.eot'); /* IE9 Compat Modes */
  src: url('./fonts/inter-v12-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/inter-v12-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/inter-v12-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./fonts/inter-v12-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/inter-v12-latin-700.svg#Inter') format('svg'); /* Legacy iOS */
}
/* inter-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 800;
  src: url('./fonts/inter-v12-latin-800.eot'); /* IE9 Compat Modes */
  src: url('./fonts/inter-v12-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/inter-v12-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/inter-v12-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./fonts/inter-v12-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./fonts/inter-v12-latin-800.svg#Inter') format('svg'); /* Legacy iOS */
}

/* -------------------------------- MAIN APP -------------------------------- */
.App {
  background-color: #1e1e1e;
  width: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* -------------------------------- LOGIN SECTION -------------------------------- */
.login-page {
  color: #ffffff;
  font-family: "Inter" !important; 
  font-weight: bolder;
  margin-top: 30px;
}

p {
  font-size: 24px;
  font-weight: normal;
}

.logo {
  width: 100%;
  border-radius: 20%;
}

.auth-card {
  background: #2A2A2A !important;
}

.auth-card-title {
  font-weight: 700 !important;
  font-size: 32px !important;
}

.auth-button {
  background-color: #00C437 !important;
  border-color: #00C437 !important;
  font-size: 36px !important;
  font-weight: bold !important;
  margin-bottom: 20px;
  margin-top: 20px;
}

.middle-section {
  /* font-size: 40px; */
  font-weight: bold;
  border-color: #ffffff;
}

h1 {
  font-size: 64px !important;
  font-weight: bold !important;
}

h3 {
  font-weight: bold !important;
  font-size: 32px !important
}

/* -------------------------------- WELCOME COMPONENT -------------------------------- */
.welcome-section {
  color: #ffffff;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}

/* -------------------------------- DROPWATCH COMPONENT -------------------------------- */

.dropwatch {
  background-color: #FFF6D7 !important;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.dropwatch-text {
  padding-bottom: 20px;
}


.bottom {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8DBAD !important;
  max-width: 90%;
  margin: auto;
  margin-bottom: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.search-button {
  font-size: 36px !important;
  font-weight: bold !important;
  background-color: #BDE9FC !important;
  border-color: #BDE9FC !important;
  color: black !important;
  max-width: 90%;
}

.saved-button {
  font-size: 36px !important;
  font-weight: bold !important;
  background-color: #ECBDFC !important;
  border-color: #ECBDFC !important;
  color: black !important;
  max-width: 90%;
}

.followed-button {
  font-size: 36px !important;
  font-weight: bold !important;
  background-color: #FCB !important;
  border-color: #FCB !important;
  color: black !important;
  max-width: 90%;
}

.add-artists {
  font-size: 36px !important;
  font-weight: bold !important;
  padding-top: 10px;
  padding-bottom: 10px;
}

.artists {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8DBAD !important;
  max-width: 90%;
  margin: auto;
  min-height: 480px;
  margin-bottom: 50px;
}

.artists-container {
  padding: 5% 0px;
}

/* -------------------------------- ARTIST COMPONENT -------------------------------- */

.artist-image-col {
  height: 160px !important;
  width: 160px !important;
  padding: 0 !important;
}

.artist-image {
  width: 100%;
  height: 160px;
}

.artist-name-col {
  padding: 0 !important;
}

.artist-name {
  min-height: 100%;
  border-radius: 0% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E8DBAD !important;
}

/* -------------------------------- RECENTDROPS COMPONENT -------------------------------- */

.recent-drops {
  background-color: #CDFCBD !important;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.recent-drops-text {
  padding-bottom: 20px;
}

.drops {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9EDB8A !important;
  max-width: 90%;
  margin: auto;
  min-height: 750px;
  margin-bottom: 50px;
}

.drops-container {
  padding: 5% 0px;
}

/* -------------------------------- DROP COMPONENT -------------------------------- */

.drop-image-col {
  height: 160px !important;
  width: 160px !important;
  padding: 0 !important;
}

.drop-image {
  width: 100%;
  height: 160px;
}

.drop-name-col {
  padding: 0 !important;
}

.drop-name {
  min-height: 100%;
  border-radius: 0% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #9EDB8A !important;
}

/* -------------------------------- SAVEDPLAYLIST COMPONENT -------------------------------- */

.saved-playlists {
  background-color: #ECBDFC !important;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.saved-playlists-text {
  padding-bottom: 20px;
}

.playlists {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C280D9 !important;
  max-width: 90%;
  margin: auto;
  min-height: 750px;
  margin-bottom: 50px;
}

.playlists-container {
  padding: 5% 0px;
}

/* -------------------------------- PLAYLIST COMPONENT -------------------------------- */

.playlist-image-col {
  height: 160px !important;
  width: 160px !important;
  padding: 0 !important;
}

.playlist-image {
  width: 100%;
  height: 160px;
}

.playlist-name-col {
  padding: 0 !important;
}

.playlist-name {
  min-height: 100%;
  border-radius: 0% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #C280D9 !important;
}

/* -------------------------------- FOLLOWED COMPONENT -------------------------------- */

.followed {
  background-color: #FCBDBD !important;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.followed-text {
  padding-bottom: 20px;
}

.followed-artists {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D78B8B !important;
  max-width: 90%;
  margin: auto;
  min-height: 750px;
  margin-bottom: 50px;
}

.followed-artists-container {
  padding: 5% 0px;
}
/* -------------------------------- FOLLOWEDARTIST COMPONENT -------------------------------- */

.followed-artist-image-col {
  height: 160px !important;
  width: 160px !important;
  padding: 0 !important;
}

.followed-artist-image {
  width: 100%;
  height: 160px;
}

.followed-artist-name-col {
  padding: 0 !important;
}

.followed-artist-name {
  min-height: 100%;
  border-radius: 0% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #D78B8B !important;
}

/* -------------------------------- SEARCH COMPONENT -------------------------------- */

.search {
  background-color: #BDE9FC !important;
  text-align: center;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 50px;
}

.search-text {
  padding-bottom: 20px;
}

.search-results {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #77BFDE !important;
  max-width: 90%;
  margin: auto;
  min-height: 750px;
  margin-bottom: 50px;
}

.search-results-container {
  padding: 5% 0px;
}
/* -------------------------------- FOLLOWEDARTIST COMPONENT -------------------------------- */

.search-result-image-col {
  height: 160px !important;
  width: 160px !important;
  padding: 0 !important;
}

.search-result-image {
  width: 100%;
  height: 160px;
}

.search-result-name-col {
  padding: 0 !important;
}

.search-result-name {
  min-height: 100%;
  border-radius: 0% !important;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #77BFDE !important;
}

.search-section-button {
  margin-bottom: 12px;
  margin-left: 10px;
  font-size: 24px !important;
  padding: 3px !important;
}

.search-input-box {
  background-color: #77BFDE;
  color: black !important;
  font-size: 24px;
  min-height: 20px !important;
  border: 0;
}

::placeholder {
  color: black;
}
.not-done {
  color: #ffffff
}